{% extends 'index.html.twig' %}

{% block widget %}
    <div class="card my-4">
        <h5 class="card-header">Добавить</h5>
        <div class="card-body">
            {#<button type="button" class="btn btn-primary btn-lg btn-block btn-sm">Добавить новый пост</button>#}
            <div class="list-group">
                <a href="{{ path('user_main') }}" class="list-group-item list-group-item-action">Мои посты</a>
                <a href="#" class="list-group-item list-group-item-action">Мои коментарии</a>
                <a href="{{ path('create_post') }}" class="list-group-item list-group-item-action">Добавить новый пост</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for post in posts %}
        <!-- Blog Post -->
        <div class="card mb-4 post-card">
            <div class="card-footer text-muted">
                <div class="post-info">
                    <i class="fas fa-calendar-day"> {{ post.publicationDate|date('d/m/Y') }}</i>
                    <i class="fas fa-comments"> {{ post.comment|length }}</i>
                    <i class="fas fa-user-tie float-right"> {{ post.author.username }}</i>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.content|slice(0, 400) ~ '.....' }}</p>
                <a href="{{ path('read_post', {'id' : post.id }) }}" class="btn btn-primary">Read More &rarr;</a>
                <a href="{{ path('trash_post', {'id' : post.id }) }}" class="btn btn-danger" >Delete &#10008;</a>
            </div>
        </div>

    {% else %}
        <h2>Posts not found</h2>
    {% endfor %}
    <div class="navigation d-flex justify-content-center my-navigator">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}