<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}My blog{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('public/css/style.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/metisMenu.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/slicknav.min.css') }}">
            <!-- amchart css -->
            <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
            <!-- others css -->
            <link rel="stylesheet" href="{{ asset('assets/css/typography.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/default-css.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
            <!-- modernizr css -->
            <script src="{{ asset('assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/js/vendor/jquery-2.2.4.min.js') }}"></script>
            {#<script src="{{ asset('public/js/jquery-3.3.1.slim.min.js') }}"></script>#}
            <!-- bootstrap 4 js -->
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/js/metisMenu.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.slimscroll.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.slicknav.min.js') }}"></script>
{##}
            <!-- start chart js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
            <!-- start highcharts js -->
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <!-- start zingchart js -->
            <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
            <script>
                zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
                ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
            </script>
            <!-- all line chart activation -->
            <script src="{{ asset('assets/js/line-chart.js') }}"></script>
            <!-- all pie chart -->
            <script src="{{ asset('assets/js/pie-chart.js') }}"></script>
            <!-- others plugins -->
            <script src="{{ asset('assets/js/plugins.js') }}"></script>
            <script src="{{ asset('assets/js/scripts.js') }}"></script>

            {#<!-- Bootstrap core JavaScript -->#}
            {#<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
        {% endblock %}
    </body>
</html>
