{% extends 'main/index.html.twig' %}
{% block content %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <!-- Blog Entries Column -->
        {% for post in posts %}
            <!-- Blog Post -->
            <div class="card mb-4 post-card">
                <div class="card-footer text-muted">
                    <div class="post-info">
                        <i class="fas fa-calendar-day"> {{ post.publicationDate|date('d/m/Y') }}</i>
                        <i class="fas fa-comments"> {{ post.comment|length }}</i>
                        <i class="fas fa-user-tie float-right"> {{ post.author.username }}</i>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text">{{ post.content|slice(0, 400) ~ '.....' }}</p>
                    <a href="{{ path('read_post', {'id' : post.id }) }}" class="btn btn-primary">Read More &rarr;</a>
                    {% if app.user %}
                        {% if app.user.email == post.author.email or is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('trash_post', {'id' : post.id }) }}" class="btn btn-danger" >Delete &#10008;</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <h2>Posts not found</h2>
        {% endfor %}
    <div class="navigation d-flex justify-content-center my-navigator">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}