{% extends 'main/index.html.twig' %}

{% block content %}
    <div class="card post-card">
        <h6 class="card-header">
            <div class="post-info">
                <i class="fas fa-user-tie"> {{ post.author.username }}</i>
                <i class="fas fa-comments"> {{ post.comment|length }}</i>
                <i class="fas fa-calendar-day float-right"> {{ post.publicationDate|date('d/m/Y') }}</i>
            </div>
        </h6>
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
        </div>
    </div>
    {% for comment in post.comment %}
    <div class="comments">
        <div class="media">
            <img class="mr-3" src="{{ asset('public/image/user64x64.png') }}" alt="">
            <div class="media-body">
                <h6 class="mt-0">{{ comment.author.surname }}
                    <span class="float-right">{{ comment.publicationDate|date('d.m.Y h:i') }}</span>
                </h6>
            {{ comment.content }}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

