{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-container">

        {% block sidebar %}
            <!-- sidebar menu area start -->
            <div class="sidebar-menu">
                <div class="sidebar-header">
                    <div class="logo">
                        <a href="{{ path('admin') }}"><img src="{{ asset('assets/images/icon/logo.png') }}" alt="logo"></a>
                    </div>
                </div>
                <div class="main-menu">
                    <div class="menu-inner">
                        <nav>
                            <ul class="metismenu" id="menu">
                                <li>
                                    <a href="javascript:void(0)" aria-expanded="true"><i class="fas fa-newspaper"></i><span>посты</span></a>
                                    <ul class="collapse">
                                        <li><a href="{{ path('admin_posts') }}">Список постов</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" aria-expanded="true"><i class="fas fa-comments"></i><span>Комментарии</span></a>
                                    <ul class="collapse">
                                        <li><a href="{{ path('admin_comments') }}">Список комментариев</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" aria-expanded="true"><i class="fas fa-users"></i><span>Пользователи</span></a>
                                    <ul class="collapse">
                                        <li><a href="{{ path('admin_users') }}">Список пользователей</a></li>
                                    </ul>
                                </li>

                                {#<li>#}
                                    {#<a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-align-left"></i> <span>Multi#}
                                        {#level menu</span></a>#}
                                    {#<ul class="collapse">#}
                                        {#<li><a href="#">Item level (1)</a></li>#}
                                        {#<li><a href="#">Item level (1)</a></li>#}
                                        {#<li><a href="#" aria-expanded="true">Item level (1)</a>#}
                                            {#<ul class="collapse">#}
                                                {#<li><a href="#">Item level (2)</a></li>#}
                                                {#<li><a href="#">Item level (2)</a></li>#}
                                                {#<li><a href="#">Item level (2)</a></li>#}
                                            {#</ul>#}
                                        {#</li>#}
                                        {#<li><a href="#">Item level (1)</a></li>#}
                                    {#</ul>#}
                                {#</li>#}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- sidebar menu area end -->
        {% endblock %}

        {% block admin_main_content %}
            <!-- main content area start -->
            <div class="main-content">
                {% block admin_header %}
                    <!-- header area start -->
                    <div class="header-area">
                        <div class="row align-items-center">
                            <!-- nav and search button -->
                            <div class="col-md-6 col-sm-8 clearfix">
                                <div class="nav-btn pull-left">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="search-box pull-left">
                                    <form action="#">
                                        <input type="text" name="search" placeholder="Search..." required>
                                        <i class="ti-search"></i>
                                    </form>
                                </div>
                            </div>
                            <!-- profile info & task notification -->
                            <div class="col-md-6 col-sm-4 clearfix">
                                <ul class="notification-area pull-right">
                                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                                    <li class="dropdown">
                                        <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                            <span>2</span>
                                        </i>
                                        <div class="dropdown-menu bell-notify-box notify-box">
                                            <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                            <div class="nofity-list">
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                                    <div class="notify-text">
                                                        <p>You have Changed Your Password</p>
                                                        <span>Just Now</span>
                                                    </div>
                                                </a>
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                                    <div class="notify-text">
                                                        <p>New Commetns On Post</p>
                                                        <span>30 Seconds ago</span>
                                                    </div>
                                                </a>
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                                    <div class="notify-text">
                                                        <p>Some special like you</p>
                                                        <span>Just Now</span>
                                                    </div>
                                                </a>
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                                    <div class="notify-text">
                                                        <p>New Commetns On Post</p>
                                                        <span>30 Seconds ago</span>
                                                    </div>
                                                </a>
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                                    <div class="notify-text">
                                                        <p>Some special like you</p>
                                                        <span>Just Now</span>
                                                    </div>
                                                </a>
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                                    <div class="notify-text">
                                                        <p>You have Changed Your Password</p>
                                                        <span>Just Now</span>
                                                    </div>
                                                </a>
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                                    <div class="notify-text">
                                                        <p>You have Changed Your Password</p>
                                                        <span>Just Now</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>3</span></i>
                                        <div class="dropdown-menu notify-box nt-enveloper-box">
                                            <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                            <div class="nofity-list">
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb">
                                                        <img src="{{ asset('assets/images/author/author-img1.jpg') }}" alt="image">
                                                    </div>
                                                    <div class="notify-text">
                                                        <p>Aglae Mayer</p>
                                                        <span class="msg">Hey I am waiting for you...</span>
                                                        <span>3:15 PM</span>
                                                    </div>
                                                </a>
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb">
                                                        <img src="{{ asset('assets/images/author/author-img2.jpg') }}" alt="image">
                                                    </div>
                                                    <div class="notify-text">
                                                        <p>Aglae Mayer</p>
                                                        <span class="msg">When you can connect with me...</span>
                                                        <span>3:15 PM</span>
                                                    </div>
                                                </a>
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb">
                                                        <img src="{{ asset('assets/images/author/author-img3.jpg') }}" alt="image">
                                                    </div>
                                                    <div class="notify-text">
                                                        <p>Aglae Mayer</p>
                                                        <span class="msg">I missed you so much...</span>
                                                        <span>3:15 PM</span>
                                                    </div>
                                                </a>
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb">
                                                        <img src="{{ asset('assets/images/author/author-img4.jpg') }}" alt="image">
                                                    </div>
                                                    <div class="notify-text">
                                                        <p>Aglae Mayer</p>
                                                        <span class="msg">Your product is completely Ready...</span>
                                                        <span>3:15 PM</span>
                                                    </div>
                                                </a>
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb">
                                                        <img src="{{ asset('assets/images/author/author-img2.jpg') }}" alt="image">
                                                    </div>
                                                    <div class="notify-text">
                                                        <p>Aglae Mayer</p>
                                                        <span class="msg">Hey I am waiting for you...</span>
                                                        <span>3:15 PM</span>
                                                    </div>
                                                </a>
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb">
                                                        <img src="{{ asset('assets/images/author/author-img1.jpg') }}" alt="image">
                                                    </div>
                                                    <div class="notify-text">
                                                        <p>Aglae Mayer</p>
                                                        <span class="msg">Hey I am waiting for you...</span>
                                                        <span>3:15 PM</span>
                                                    </div>
                                                </a>
                                                <a href="#" class="notify-item">
                                                    <div class="notify-thumb">
                                                        <img src="{{ asset('assets/images/author/author-img3.jpg') }}" alt="image">
                                                    </div>
                                                    <div class="notify-text">
                                                        <p>Aglae Mayer</p>
                                                        <span class="msg">Hey I am waiting for you...</span>
                                                        <span>3:15 PM</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="settings-btn">
                                        <i class="ti-settings"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- header area end -->
                {% endblock %}

                {% block admin_title %}
                    <!-- page title area start -->
                    <div class="page-title-area">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <div class="breadcrumbs-area clearfix">
                                    <h4 class="page-title pull-left">Dashboard</h4>
                                    <ul class="breadcrumbs pull-left">
                                        <li><a href="index.html">Home</a></li>
                                        <li><span>Dashboard</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 clearfix">
                                <div class="user-profile pull-right">
                                    <img class="avatar user-thumb" src="{{ asset('assets/images/author/avatar.png') }}" alt="avatar">
                                    <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Kumkum Rai <i class="fa fa-angle-down"></i></h4>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Message</a>
                                        <a class="dropdown-item" href="#">Settings</a>
                                        <a class="dropdown-item" href="#">Log Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- page title area end -->
                {% endblock %}

                <div class="main-content-inner">
                    {% block content %}
                    {% endblock %}
                </div>

            </div>
        {% endblock %}
        <!-- main content area end -->

        {% block admin_footer %}
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
        {% endblock %}
    </div>
{% endblock %}