{% extends 'admin/adminMain.html.twig' %}

{% block content %}
    {{ form(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/makeSlug.js') }}"></script>
{% endblock %}

