{% extends 'admin/adminMain.html.twig' %}

{% block content %}
    <!-- Progress Table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <h4 class="header-title">Список комментариев</h4>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table table-hover progress-table text-center">
                            <thead class="text-uppercase">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">user</th>
                                <th scope="col">id post</th>
                                <th scope="col">publication</th>
                                <th scope="col">comment</th>
                                <th scope="col">action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for comment in comments %}
                                <tr>
                                    <th scope="row">{{ comment.id }}</th>
                                    <td>{{ comment.author.username }}</td>
                                    <td>{{ comment.post.id }}</td>
                                    <td>{{ comment.publicationDate|date('d / m / Y') }}</td>
                                    <td>{{ comment.content }}</td>
                                    <td>
                                        <ul class="d-flex justify-content-center my-action">
                                            <li class="mr-3"><a href="{{ path('admin_comment_edit', {'id' : comment.id}) }}" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                                            <li><a href="{{ path('admin_comment_remove', {'id' : comment.id}) }}" class="text-danger"><i class="ti-trash"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(comments) }}
        </div>
    </div>
    <!-- Progress Table end -->
{% endblock %}

