{% extends 'admin/adminMain.html.twig' %}

{% block content %}
    <!-- Progress Table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-8">
                        <h4 class="header-title">Список постов</h4>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-primary btn-sm float-right my-button" href="{{ path('new_post_admin') }}">Создать новый</a>
                    </div>
                </div>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table table-hover progress-table text-center">
                            <thead class="text-uppercase">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">user</th>
                                <th scope="col">publication</th>
                                <th scope="col">title</th>
                                <th scope="col">action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for post in posts %}
                                <tr>
                                    <th scope="row">{{ post.id }}</th>
                                    <td>{{ post.author.username }}</td>
                                    <td>{{ post.publicationDate|date('d / m / Y') }}</td>
                                    <td>{{ post.title }}</td>
                                    <td>
                                        <ul class="d-flex justify-content-center my-action">
                                            <li class="mr-3"><a href="{{ path('post_admin', {'id' : post.id }) }}" class="text-secondary"><i class="fa fa-eye"></i></a></li>
                                            <li class="mr-3"><a href="{{ path('post_edit_admin', {'id' : post.id}) }}" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                                            <li><a href="{{ path('post_remove_admin', {'id' : post.id } ) }}" data-method="DELETE" class="text-danger"><i class="ti-trash"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
    <!-- Progress Table end -->
{% endblock %}

