{% extends 'admin/adminMain.html.twig' %}

{% block content %}
    <div class="card post-card">
        <h6 class="card-header">
            <span class="post-info">
                <i class="fas fa-user-tie"> {{ post.author.username }}</i>
                <i class="fas fa-comments"> {{ post.comment|length }}</i>
                <i class="fas fa-calendar-day"> {{ post.publicationDate|date('d/m/Y') }}</i>
                <i class="float-right">
                    <a href="{{ path('post_remove_admin', {'id' : post.id } ) }}" class="btn-danger btn-sm">Удалить пост</a>
                </i>
            </span>
        </h6>
        <div class="card-body">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
        </div>
    </div>
    {% for comment in post.comment %}
        <div class="comments">
            <div class="media">
                <img class="mr-3" src="{{ asset('public/image/user64x64.png') }}" alt="">
                <div class="media-body">
                    <h6 class="mt-0">
                        {{ comment.author.surname }} <br>
                        <span>{{ comment.publicationDate|date('d.m.Y h:i') }}</span>
                    </h6>
                    {{ comment.content }}
                </div>
                <div class="delete-button">
                    <a href="{{ path('admin_comment_remove', {'id' : comment.id }) }}"><i class="fas fa-trash-alt text-danger"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

