body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.post-info i{
    margin-right: 20px;
}

.post-card {
    margin-top: 25px;
    border-bottom: 1px solid black;
}

.comments {
    margin: 20px 0;
    font-size: 12px;
    color: rgba(37, 37, 37, 0.87);
    border-bottom: 1px solid #828282;
}

.comments h6 span {
    font-size: 12px;
    color: rgba(37, 37, 37, 0.87);
}

.navigation {
    margin: 20px 0 !important;
}

.delete-button {
    font-size: 30px !important;
}

.my-action {
    font-size: 25px;
}

.my-button {
    margin-bottom: 17px;
}

.alert {
    padding: 15px !important;
    margin: 15px;
}