{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="_username" value="{{ last_username }}" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"name="_password">
            </div>

            <input type="hidden" name="_target_path" value="/user" />


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
{% endblock %}